@media(max-width: 1000px){
  *{
    font-size: 14px;
  }
  .button{
    font-size: 18px;
  }

  .header{
    &-top{
     &__nav,
     &__contacts{
       display: none;
     }
     &__nav--link{
       margin-bottom: 30px;
       font-size: 20px;
     }
     &__dscr--title{
       font-size: 24px;
     }
    }
    &-burger{
      width: 40px;
      height: 30px;
      position: relative;
      margin-right: 50px;
      cursor: pointer;
      &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        top: 0;
      }
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        bottom: 0;
      }
      &__span{
        width: 100%;
        height: 2px;
        background: #fff;
        margin-top: 35%;
      }
      &__menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        background: #000;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }
      &.active{
        z-index: 100;
        .header-burger__span{
          display: none;
        }
        &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        top: 50%;
        transform: rotate(45deg);
      }
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        bottom: 50%;
        transform: rotate(-45deg);
      }
      }
    }
  }

  .title{
    font-size: 24px;
  }

.about-block{
  grid-gap: 10px;
  &__item{
    &--img{
    width: 175px;
    height: 180px;
  }
  &--wrapper{
    margin-left: 15px;
  }
  &--title{
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 8px;
  }
  &--item{
    font-size: 14px;
    list-style: none;
  }
  &--dscr{
    font-size: 14px;
  }
}
}

.reviews,
.certificat{
  &-content{
    &__img{
      width: 175px;
      height: 245px;
    }
  }
}
.work{
  
  &-content{
    &__img{
      width: 175px;
      height: 175px;
    }
  }
}
.consultation{
  &-inner{
    padding: 30px;

  }
  &-img{
    max-width: 225px;
  }
  &-content{
    &__input{
      max-width: 140px;
    }
  }
}
.footer{
  &-contacts{
    max-width: 400px;
    padding: 10px;
  }
}

}

@media(max-width: 770px){
  .about{
    text-align: center;
    &-title{
      max-width: inherit;
    }
    &-block__item{
    flex-direction: column;
    align-items: center;
    &--item{
      margin-bottom: 0;
    }
    &--img{
      width: 80%;
    }
    &--title{
      font-size: 18px;
    }
  }
}

.stage{
  &-item{
    padding: 15px 13px;
    &__counter{
      font-size: 20px;
    }
  }
  &-block{
    grid-gap: 20px 10px;
  }
}
.work{
    margin-bottom: 40px;
  }
.consultation{
  &-img{
    position: inherit;
    margin: 0 auto;
  }
  &-inner{
    justify-content: center;
    padding: 15px;
  }
}
.footer{
  &-contacts{
    &__title{
      max-width: 300px;
    }
  }
}
}

@media(max-width: 500px) {
  .reviews-top__arrows.hidden{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    }
  .header{
    background-image: none;
    &-bottom{
      &__block{
        margin-right: 10px;
        padding-left: 10px;
      }
    }
    &-top__dscr{
      &--title{
      font-size: 20px;
      text-align: center;
      padding: 0 20px;
      margin-bottom: 15px;
    }
    
    &--subtitle{
      font-size: 16px;
      text-align: center;
      padding: 0 20px;
      margin-bottom: 30px;
    }
    
  }
  }
  .button-wrapper{
    display: flex;
    justify-content: center;
  }
  .about{
    &-block{
      grid-template-columns: repeat(1, 1fr);
    }
    padding-bottom: 40px;
  }
  .stage{
    &-block{
      margin: 30px 0 40px;
    grid-template-columns: none;
    }
    &-item__title{
      max-width: 300px;
    }
  }
  .reviews,
  .work,
  .certificat{
    &-top{
      margin: 20px 0;
      justify-content: center;
      &__arrows{
        display: none;
        
      }
    }
  }
  .consultation{
    &-content{
      &__form{
        display: flex;
        flex-direction: column;
      }
      &__input{
        max-width: 100%;
        margin-bottom: 12px;

      }
    }
  }
  .question-tabs{
    grid-template-columns: none;
    &__block--img{
      right: 10px;
    }
  }
  .footer{
    &-contacts{
      position: inherit;
      top: 0;
      left: 0;
      max-width: 100%;
    }
  }
}
