@import 'vars';
@import 'reset';
@import 'global';


.header{
  height: 100vh;
  background-image: url('@img/header_img.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center right;
  &-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    &__nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--link{
        color: $color-gray;
        margin-right: 50px;
        &:hover{
          border-bottom: 1px solid $color-gray;
        }
      }
    }
    &__contacts{
      &--tel{
        line-height: 100%;
        display: flex;
        justify-content: right;
      }
      &--call{
        line-height: 100%;
        cursor: pointer;
        &:hover{
          border-bottom: 1px solid $color-gray;
        }
      }
    }
    &__dscr{
      max-width: 526px;
      padding: 100px 0;
      &--title{
        font-size: 36px;
        font-weight: 700;
        line-height: 130%;
        color: $color-gray;
      }
      &--subtitle{
        font-size: 20px;
        color: $color-gray;
        max-width: 350px;
        padding: 20px 0 30px;
      }
    }
  }
  &-bottom{
    display: flex;
    &__block{
      padding-left: 15px;
      border-left: 1px solid $color-gray;
      margin-right: 40px;
      &--text{
        line-height: 120%;
        color: $color-gray;
        max-width: 140px;
        padding-top: 18px;
      }
    }

  }
}

.about{
  padding-bottom: 80px;
  &-title{
    padding-bottom: 40px; 
  }
  &-block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    &__item{
      display: flex;
      &--img{
        width: 230px;
        height: 240px;
        border-radius: 6px;
      }
      &--wrapper{
        margin-left: 30px;
      }
      &--title{
        font-size: 24px;
        margin-bottom: 20px;
      }
      &--list{
        list-style: inside
      }
      &--item{
        line-height: 140%;
        margin-bottom: 12px;
      }
      &--dscr{
        line-height: 140%;
      }
    }
  }
}

.stage{
  &-block{
    margin: 40px 0 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 30px;
  }
  &-item{
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 10px 20px rgba(116, 18, 18, 0.05));
    border-radius: 6px;
    text-align: center;
    padding: 0 20px;
    position: relative;
    padding: 20px 45px;
    display: flex;
    align-items: center;
    transition: all .3s;
    &:hover{
      background: $color-red;
    }
    &__title{
      text-align: left;
    }
    &__counter{
      position: absolute;
      right: 20px;
      top: 0;
      font-size: 32px;
      line-height: 130%;
      font-weight: 700;
    }
  }
}


.reviews,
.work,
.certificat{
  &-top{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    &__arrows{
      display: flex;
      align-items: center;
      &--left{
        max-width: 100px;
        margin-right: 30px;
        cursor: pointer;
      }
      &--right{
        cursor: pointer;
        max-width: 100px;
      }
    }
  }
  &-content{
    display: flex;
    overflow: hidden;
    &__img{
      margin-right: 20px;
      border-radius: 6px;
      width: 260px;
      height: 360px;
      object-fit: cover;
      cursor: pointer;
    }
  }
}
.work{
  margin-bottom: 100px;
  &-content__img{
  width: 360px;
  height: 300px;
  }
}

.consultation{
  position: relative;
  &-img{
    position: absolute;
    bottom: 0;
  }
  &-inner{
    display: flex;
    justify-content: right;
    align-items: center;
    border: 1px solid $color-gray;
    box-shadow: 0px 10px 40px rgba(116, 18, 18, 0.05);
border-radius: 6px;
padding: 60px 30px 80px;
  }
  &-content{
    &__title {
    font-weight: 400;
  }
  &__form{
      margin-top: 40px;
    }
    &__input{
      font-size: 20px;
      line-height: 100%;
      font-weight: 700;
      padding: 20px 10px;
      max-width: 200px;
      background: rgba(255, 255, 255, 0.15);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 6px;
      
    }
  }
}

.question{
  margin: 50px 0;
  &-title{
    margin-bottom: 40px;
  }
  &-tabs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 20px;
    &__block{
      position: relative;
     padding: 10px 20px;
     border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 10px 20px rgba(116, 18, 18, 0.05));
      border-radius: 6px;
      cursor: pointer;
      &--hidden{
        display: none;
      } 
      &--img{
        position: absolute;
        right: 20px;
        top: 45%;
      }
    }
  }
}

@import 'media';